body {
	font-family:'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}