body {
	font-family:'Times New Roman', Times, serif;
	
}
.form_top {
  width: auto;
  height: auto;
  float: top;
}
.form_down {
  width: 100vw;
  height: auto;
}
.Data-Content {
  width: 100%; 
  line-height: 40px;
}

.Data-Title {
  float: left;
  width: 25%; 
  margin-right: 20px;
}

.Data-Items {
  float: left;
  width: 25%;
}

.AlignRight {
  text-align: right;
}